*.pyc
*/__pycache__/*
*.egg
*.egg-info
.idea
.vscode
.DS_Store
.python-version
dist
build
imgs
eggs
bin
venv
pubilc
tmp
logs
*.ipa
.mp4
*.apk
*.zip
*.csv
*.log
.vscode*
poetry.lock
.pytest.cache
hypium_api*.md
example-dev.py
test*.mp4
/tests/
