*.pyc
*/__pycache__/*
*.egg
*.egg-info
.idea
.vscode
.DS_Store
.python-version
dist
build
imgs
eggs
bin
venv
node_modules
pubilc
tmp
logs
testresult
*.ipa
.mp4
*.apk
*.zip
*.csv
*.log
.vscode*
deploy.sh
tests/images